<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orange.music.dao.ConsumerMapper">
    <resultMap id="BaseResultMap" type="com.orange.music.domain.Consumer">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="TINYINT"/>
        <result column="phone_num" property="phoneNum" jdbcType="CHAR"/>
        <result column="email" property="email" jdbcType="CHAR"/>
        <result column="birth" property="birth" jdbcType="TIMESTAMP"/>
        <result column="introduction" property="introduction" jdbcType="VARCHAR"/>
        <result column="location" property="location" jdbcType="VARCHAR"/>
        <result column="avator" property="avator" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>

    </resultMap>
    <sql id="Base_Column_List">
        id,username,password,sex,phone_num,email,birth,introduction,location,avator,create_time,update_time
    </sql>

    <insert id="insert" parameterType="Consumer">
        insert into consumer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="consumer.id != null">
                id,
            </if>
            <if test="consumer.username != null">
                username,
            </if>
            <if test="consumer.password != null">
                password,
            </if>
            <if test="consumer.sex != null">
                sex,
            </if>
            <if test="consumer.phoneNum != null">
                phone_num,
            </if>
            <if test="consumer.email != null">
                email,
            </if>
            <if test="consumer.birth != null">
                birth,
            </if>
            <if test="consumer.introduction != null">
                introduction,
            </if>
            <if test="consumer.location != null">
                location,
            </if>
            <if test="consumer.avator != null">
                avator,
            </if>
            create_time,update_time
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="consumer.id != null">
                #{consumer.id},
            </if>
            <if test="consumer.username != null">
                #{consumer.username},
            </if>
            <if test="consumer.password != null">
                #{consumer.password},
            </if>
            <if test="consumer.sex != null">
                #{consumer.sex},
            </if>
            <if test="consumer.phoneNum != null">
                #{consumer.phoneNum},
            </if>
            <if test="consumer.email != null">
                #{consumer.email},
            </if>
            <if test="consumer.birth != null">
                #{consumer.birth},
            </if>
            <if test="consumer.introduction != null">
                #{consumer.introduction},
            </if>
            <if test="consumer.location != null">
                #{consumer.location},
            </if>
            <if test="consumer.avator != null">
                #{consumer.avator},
            </if>
            now(),now(),
        </trim>
    </insert>

    <update id="update" parameterType="Consumer">
        update consumer
        <set>
            <if test="consumer.username != null">
                username=#{consumer.username},
            </if>
            <if test="consumer.password != null">
                password=#{consumer.password},
            </if>
            <if test="consumer.sex != null">
                sex=#{consumer.sex},
            </if>
            <if test="consumer.phoneNum != null">
                phone_num=#{consumer.phoneNum},
            </if>
            <if test="consumer.email != null">
                email=#{consumer.email},
            </if>
            <if test="consumer.birth != null">
                birth=#{consumer.birth},
            </if>
            <if test="consumer.introduction != null">
                introduction=#{consumer.introduction},
            </if>
            <if test="consumer.location != null">
                location=#{consumer.location},
            </if>
            <if test="consumer.avator != null">
                avator=#{consumer.avator},
            </if>
            update_time=now(),
        </set>
        where id=#{consumer.id}
    </update>

    <delete id="delete" parameterType="Integer">
        delete from consumer where id=#{id}
    </delete>
    
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Integer">
        select <include refid="Base_Column_List"/>
        from consumer where id=#{id}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from consumer
    </select>

    <select id="verifyPassword" parameterType="String" resultType="Integer">
        select count(*) from consumer
        where username=#{username} and password=#{password}
    </select>

  <select id="selectByUsername" resultMap="BaseResultMap" parameterType="String">
      select <include refid="Base_Column_List"/>
      from consumer where username=#{username}
  </select>

</mapper>
